<!DOCTYPE HTML>
<html>
<head>
  <title>Item - <%= item_name %></title>
</head>
<body>
<form action="/" method="post">
  <input type="text" name="new_item" placeholder="New Item">
  <input type="submit" value="Submit">
</form>
</body>
</html>