<!DOCTYPE HTML>
<html>
<head>
  <title>Item - <%= item_name %></title>
</head>
<body>
<form action="/item/<%= item_name %>" method="post">
  <input type=hidden name="_method" value="put">
  <input type="text" name="edit_item" value="<%= item_name %>">
  <input type="submit" value="Edit">
</form>
<form action="/item/<%= item_name %>" method="post">
  <input type=hidden name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
</body>
</html>