<!DOCTYPE HTML>
<html>
<head>
  <title>Add Awesome Item</title>
</head>
<body>
<form action="/" method="post">
  <input type="text" name="new_item">
  <button type="submit" value="Submit">
</form>
</body>
</html>